<tr>
    <td><code>.pure-u-</code></td>
    <td>
        <input class='mq-key blurable' type='text' placeholder="med" value='{{id}}'>
    </td>
    <td>
        <input class='mq-value blurable' type='text' placeholder="screen and (min-width: 48em)" value='{{value}}'>
    </td>
    <td>
        <button class="removeMqBtn pure-button">&times;</button>
    </td>
</tr>
