<div class="sidebar-wrapper pure-u-xl-1-4">
    <div class="sidebar">
        <ul class="sidebar-list">
            {{#sectionList}}
                <li class="sidebar-list-item">
                    <a href="#{{this.id}}">{{this.heading}}</a>
                </li>
            {{/sectionList}}
        </ul>
    </div>
</div>
