<div class="sidebar pure-u-med-1-4">
    <div class="sidebar-inner">
        <h4 class="sidebar-head">{{title}}</h4>
        <ul class="sidebar-list">
            {{#sectionList}}
                <li class="sidebar-list-item">
                    <a href="#{{this.id}}">{{this.heading}}</a>
                </li>
            {{/sectionList}}
        </ul>
    </div>
</div>
