<div id="horizontal-menu">
    <ul id="std-menu-items">
        <li class="pure-menu-selected"><a href="#0">Flickr</a></li>
        <li><a href="#0">Messenger</a></li>
        <li><a href="#0">Sports</a></li>
        <li><a href="#0">Finance</a></li>
        <li>
            <a href="#0">Other</a>
            <ul>
                <li class="pure-menu-heading">More from Yahoo!</li>
                <li class="pure-menu-separator"></li>
                <li><a href="#0">Autos</a></li>
                <li><a href="#0">Flickr</a></li>
                <li><a href="#0">Answers</a></li>
                <li>
                    <a href="#0">Even More</a>
                    <ul>
                        <li><a href="#0">Horoscopes</a></li>
                        <li><a href="#0">Games</a></li>
                        <li><a href="#0">Jobs</a></li>
                        <li><a href="#0">OMG</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
YUI({
    classNamePrefix: 'pure'
}).use('gallery-sm-menu', function (Y) {

    var horizontalMenu = new Y.Menu({
        container         : '#horizontal-menu',
        sourceNode        : '#std-menu-items',
        orientation       : 'horizontal',
        hideOnOutsideClick: false
    });

    horizontalMenu.render();
    horizontalMenu.show();

});
</script>
