<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#0" class="pure-menu-heading">Site Title</a>

    <ul>
        <li class="pure-menu-selected"><a href="#0">Home</a></li>
        <li><a href="#0">Flickr</a></li>
        <li><a href="#0">Messenger</a></li>
        <li><a href="#0">Sports</a></li>
        <li><a href="#0">Finance</a></li>
    </ul>
</div>
