<ul class="pure-paginator">
    <li><a class="pure-button prev" href="#0">&#171;</a></li>
    <li><a class="pure-button" href="#0">1</a></li>
    <li><a class="pure-button pure-button-active" href="#0">2</a></li>
    <li><a class="pure-button" href="#0">3</a></li>
    <li><a class="pure-button" href="#0">4</a></li>
    <li><a class="pure-button" href="#0">5</a></li>
    <li><a class="pure-button next">&#187;</a></li>
</ul>
