<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Yahoo! Sites</a>

    <ul>
        <li><a href="#0">Flickr</a></li>
        <li><a href="#0">Messenger</a></li>
        <li><a href="#0">Sports</a></li>
        <li><a href="#0">Finance</a></li>
        <li class="pure-menu-heading">More Sites!</li>
        <li><a href="#0">Games</a></li>
        <li><a href="#0">News</a></li>
        <li><a href="#0">OMG!</a></li>
    </ul>
</div>
