{{addLocalCSS "/css/layouts/photos.css"}}


<div id="wrapper" class="pure-g-r">

	<div id="sidebar">
			<ul class="left-nav">
				<li><a href="">Home</a></li>
				<li><a href="">Business</a></li>
				<li><a href="">Meeting</a></li>
				<li class="selected"><a href="">Technology</a></li>
				<li><a href="">Illustration</a></li>
				<li><a href="">Nature</a></li>
				<li><a href="">Urban</a></li>
				<li><a href="">Animals</a></li>
				<li><a href="">Other</a></li>
			</ul>
	</div>

	<div id="content">

		<div id="container" class="pure-g-r">

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/9686fc982ff99b8faf45290ce3220c55/tumblr_mnh121HEWa1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/9686fc982ff99b8faf45290ce3220c55/tumblr_mnh121HEWa1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/9686fc982ff99b8faf45290ce3220c55/tumblr_mnh121HEWa1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/9686fc982ff99b8faf45290ce3220c55/tumblr_mnh121HEWa1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/9686fc982ff99b8faf45290ce3220c55/tumblr_mnh121HEWa1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

			<div class="pure-u-1-3">
				<div>
				<img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" />
				</div>
			</div>

		</div>

	</div>

</div>