<address>
    Contact our webmaster at: <a href="mailto:email@address.com">Webmaster</a><br>
    Visit us at:<br>
    <strong>Yahoo</strong><br>
    701 First Ave.<br>
    Sunnyvale, CA<br>
    94089
</address>
